.existing-tweets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f1ec;
  border: solid 5px;
  margin-top: 0.5em;
  padding-inline: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.25em;
  word-wrap: break-word;
  height: auto;
  border-radius: 1%;
  font-size: 75%;
}

.tweet:hover {
  box-shadow: 7px 7px lightsteelblue;
}

.tweet-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f1ec;
  align-items: flex-start;
  margin-left: 0px;
  margin-top: 0px;
  height: auto;
  padding-top: 0.5em
}

.tweet-user-profile {
  display: flex;
  align-items: center;
}

.profile-tag {
  opacity: 50%;
  padding-left: 0px;
  font-size: 80%;
}

.profile-text {
  padding-left: 0.5em;

}

.tweet-footer {
  border-top: groove 7px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  font-size: medium;
}

.icons {
  color: midnightblue
}

.fa-heart:hover  {
  color: crimson;
}

.fa-retweet:hover {
  color: limegreen;
}

.fa-flag:hover {
  color: firebrick;
}

@media only screen and (min-width: 768px) {
  .tweet {
    font-size: 100%;
  }
  
  .tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .new-tweet {
    display: flex;
    padding-top: 0px;
  }

  .profile-tag {
    font-size: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .tweet {
    font-size: 100%;
  }
  
  .tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .new-tweet {
    display: flex;
    padding-top: 0px;
  }

  .profile-tag {
    font-size: 100%;
  }
}