.existing-tweets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f1ec;
  border: solid 5px;
  margin-top: 2em;
  padding: 1em;
  word-wrap: break-word;
}

.tweet:hover {
  box-shadow: 7px 7px lightsteelblue;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  align-items: center;
  margin: auto;
  height: auto;
}

.tweet-user-profile {
  display:flex;
  align-items: center;
}

.profile-text {
  margin-left: 1rem;
}

.profile-tag {
  opacity: 50%;
}

.tweet-footer {
  border-top: groove 7px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  font-size: medium;
}

.icons {
  color: midnightblue
}

.fa-heart:hover  {
  color: crimson;
}

.fa-retweet:hover {
  color: limegreen;
}

.fa-flag:hover {
  color: firebrick;
}
